<!-- Information page  -->
<div class="text-black bg-poster" style="background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7) ,rgba(0, 0, 0, 0.7)), url('{{movie.imageSource}}');">  <!-- poster, information -->
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <figure class="poster">
                    <img src="{{movie.imageSource}}" alt="" class="img-thumbnail">
                    <figcaption class="figure-caption text-center my-2 px-4 bg-success text-white infor-book-box">Đặt vé</figcaption>                                
                </figure>
            </div>
            <div class="col-lg-9 col-sm-9 text-white">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>{{ movie.vietnameseName }}</h2>     
                        <p>{{ movie.originalName}}</p>           
                        <p><b>Thể loại:</b> {{#join movie.category ', ' }}{{/join}}</p>
                        <b>Tóm tắt</b>
                    </div>
                    <div class="col-sm-9">
                        <div class="description">
                            {{#each movie.description }}
                                <p>{{ this }}</p>
                            {{/each}}
                        </div>               

                        <div class="row mb-3">
                            <div class="col-xl-3 col-sm-6"><b>Hài lòng: </b>{{ movie.rating }}</div>
                            <div class="col-xl-3 col-sm-6"><b>Khởi chiếu: </b>{{ movie.date }}</div>
                            <div class="col-xl-3 col-sm-6"><b>Thời lượng: </b>{{ movie.time }}</div>
                            <div class="col-xl-3 col-sm-6"><b>Giới hạn tuổi: </b>{{ movie.label }}</div>
                        </div>
                    </div>   
                    <div class="col-lg-3 col-sm-12">
                    <p><b>Đạo diễn:</b> {{ movie.director }}</p>
                    <p><b>Diên viên:</b> {{#join movie.cast ', '}}{{/join}}<p>
                    </div>
                </div>            
            </div>          
        </div>           
    </div>          
</div>



<!-- Nav tabs : infor, showtime-->
<div class="container my-5 bg-light">
    <ul class="nav nav-tabs">
        <li class="nav-item">
        <a class="nav-link text-success active font-weight-bold" data-toggle="tab" href="#infor">Thông tin phim</a>
        </li>
        <li class="nav-item">
        <a class="nav-link text-success font-weight-bold" data-toggle="tab" href="#showtime">Lịch chiếu</a>
        </li>
    </ul>
    <div class="tab-content my-4">
    <!-- Trailer -->
    <div class="active tab-pane" id="infor">
        {{#each movie.description }}
            <p>{{ this }}</p>
        {{/each}}
        <br>
        <iframe class="video-trailer"
            src="https://www.youtube.com/embed/{{ movie.trailerEmbedID }}">
        </iframe>
    </div>
    <!-- Show time -->
    <div class="tab-pane" id="showtime">
        <ul class="nav nav-tabs d-flex justify-content-center">
        <li class="nav-item">
            <a class="nav-link text-primary  font-weight-bold" data-toggle="tab" href="#CN" style="width:150px; font-size:18px; text-align: center; background-color: rgb(209, 228, 235)">22/11 <br>CN</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-primary active font-weight-bold" data-toggle="tab" href="#T2" style="width:150px; font-size:18px; text-align: center; background-color: rgb(209, 228, 235)">23/11 <br>T2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-primary font-weight-bold" data-toggle="tab" href="#T3" style="width:150px; font-size:18px; text-align: center; background-color: rgb(209, 228, 235)">24/11 <br>T3</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-primary font-weight-bold" data-toggle="tab" href="#T4" style="width:150px; font-size:18px; text-align: center; background-color: rgb(209, 228, 235)">25/11 <br>T4</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-primary font-weight-bold" data-toggle="tab" href="#T5" style="width:150px; font-size:18px; text-align: center; background-color: rgb(209, 228, 235)">26/11 <br>T5</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-primary font-weight-bold" data-toggle="tab" href="#T6" style="width:150px; font-size:18px; text-align: center; background-color: rgb(209, 228, 235)">27/11 <br>T6</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-primary font-weight-bold" data-toggle="tab" href="#T7" style="width:150px; font-size:18px; text-align: center; background-color: rgb(209, 228, 235)">28/11 <br>T7</a>
        </li>
        </ul>
        <div class="tab-content">
        <div class="tab-pane active" id="CN">
            <div class="cinema-name mt-3">
            Fancine Quận 5 
            </div>
            <div class="mt-2 d-flex flex-row flex-wrap" style="border: 1px solid rgb(161, 105, 105); height: 100px;">
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>

            </div>
            <div class="cinema-name mt-5">
            Fancine Quận 5 
            </div>
            <div class="mt-2 d-flex flex-row flex-wrap" style="border: 1px solid rgb(161, 105, 105); height: 100px;">
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>

            </div>
            <div class="cinema-name mt-5">
            Fancine Quận 5 
            </div>
            <div class="mt-2 d-flex flex-row flex-wrap" style="border: 1px solid rgb(161, 105, 105); height: 100px;">
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>

            </div>
            <div class="cinema-name mt-5">
            Fancine Quận 5 
            </div>
            <div class="mt-2 d-flex flex-row flex-wrap" style="border: 1px solid rgb(161, 105, 105); height: 100px;">
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>

            </div>
            <div class="cinema-name mt-5">
            Fancine Quận 5 
            </div>
            <div class="mt-2 d-flex flex-row flex-wrap" style="border: 1px solid rgb(161, 105, 105); height: 100px;">
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            </div>
        </div>
        <div class="tab-pane" id="T2">
            <div class="cinema-name mt-3">
            Fancine Quận 10
            </div>
            <div class="mt-2 d-flex flex-row flex-wrap" style="border: 1px solid rgb(161, 105, 105); height: 100px;">
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>

            </div>
            <div class="cinema-name mt-5">
            Fancine Quận 10 
            </div>
            <div class="mt-2 d-flex flex-row flex-wrap" style="border: 1px solid rgb(161, 105, 105); height: 100px;">
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>

            </div>
            <div class="cinema-name mt-5">
            Fancine Quận 10 
            </div>
            <div class="mt-2 d-flex flex-row flex-wrap" style="border: 1px solid rgb(161, 105, 105); height: 100px;">
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>

            </div>
            <div class="cinema-name mt-5">
            Fancine Quận 10 
            </div>
            <div class="mt-2 d-flex flex-row flex-wrap" style="border: 1px solid rgb(161, 105, 105); height: 100px;">
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>

            </div>
            <div class="cinema-name mt-5">
            Fancine Quận 10 
            </div>
            <div class="mt-2 d-flex flex-row flex-wrap" style="border: 1px solid rgb(161, 105, 105); height: 100px;">
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            <div class="justify-content-center mr-4 my-2 px-4" style="border:1px solid rgb(63, 58, 58); font-size:larger">
                <b>9:20</b>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>     
</div> 

{{!-- Comment and rating --}}
<br>
<div id="graphcomment"></div>