<!-- Information page  -->
<div class="text-black bg-poster" style="background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7) ,rgba(0, 0, 0, 0.7)), url('{{movie.imageSource}}');">  <!-- poster, information -->
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <figure class="poster">
                    <img src="{{movie.imageSource}}" alt="" class="img-thumbnail">
                    <button class="btn btn-success w-100 mt-2" onclick="window.location = '/showtimes'">Đặt vé</button>
                </figure>
            </div>
            <div class="col-lg-9 col-sm-9 text-white">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>{{ movie.vietnameseName }}</h2>     
                        <p>{{ movie.originalName}}</p>           
                        <p><b>Thể loại:</b> {{#join movie.category ', ' }}{{/join}}</p>
                        <b>Tóm tắt</b>
                    </div>
                    <div class="col-sm-9">
                        <div class="description">
                            {{#each movie.description }}
                                <p>{{ this }}</p>
                            {{/each}}
                        </div>               

                        <div class="row mb-3">
                            <div class="col-xl-3 col-sm-6"><b>Hài lòng: </b>{{ movie.rating }}</div>
                            <div class="col-xl-3 col-sm-6"><b>Khởi chiếu: </b>{{ movie.date }}</div>
                            <div class="col-xl-3 col-sm-6"><b>Thời lượng: </b>{{ movie.time }}</div>
                            <div class="col-xl-3 col-sm-6"><b>Giới hạn tuổi: </b>{{ movie.label }}</div>
                        </div>
                    </div>   
                    <div class="col-lg-3 col-sm-12">
                    <p><b>Đạo diễn:</b> {{ movie.director }}</p>
                    <p><b>Diên viên:</b> {{#join movie.cast ', '}}{{/join}}<p>
                    </div>
                </div>            
            </div>          
        </div>           
    </div>          
</div>



<!-- Nav tabs : infor, showtime-->
<div class="container my-5 bg-light">
    <ul class="nav nav-tabs">
        <li class="nav-item">
        <a class="nav-link text-success active font-weight-bold" data-toggle="tab" href="#infor">Thông tin phim</a>
        </li>
        <li class="nav-item">
        <a class="nav-link text-success font-weight-bold" data-toggle="tab" href="#showtime">Lịch chiếu</a>
        </li>
    </ul>
    <div class="tab-content my-4">
    <!-- Trailer -->
    <div class="active tab-pane pb-4" id="infor">
        {{#each movie.description }}
            <p>{{ this }}</p>
        {{/each}}
        <br>
        <iframe class="video-trailer"
            src="https://www.youtube.com/embed/{{ movie.trailerEmbedID }}">
        </iframe>
    </div>
    <!-- Show time -->
    </div>     
</div> 

{{!-- Comment and rating --}}
<div id="graphcomment"></div>