<div class="container my-5 bg-light">
    <ul class="nav nav-tabs justify-content-center"> <!-- Nav tabs -->
        <li class="nav-item">
        <a class="nav-link text-success active font-weight-bold" data-toggle="tab" href="#present-mv">Phim đang chiếu</a>
        </li>
        <li class="nav-item">
        <a class="nav-link text-success font-weight-bold" data-toggle="tab" href="#future-mv">Phim sắp chiếu</a>
        </li>
    </ul>
    <div class="tab-content"> <!-- Tab content -->
        <!-- Movie on show -->
        <div class="tab-pane container active" id="present-mv">
            <div class="row py-4">
                {{#each movies}}
                    <div class="col-md-4 col-6 py-2">
                        <a href="info/{{this._id}}">
                            <figure class="figure">
                                <img src="{{imageSource}}" alt="" class="img-thumbnail">
                                <figcaption class="figure-caption mini-title-movie-1">{{originalName}}</figcaption>   
                                <figcaption class="figure-caption mini-title-movie-2">{{vietnameseName}}</figcaption>                           
                            </figure>
                        </a>
                    </div>
                {{/each}}
            </div>
        </div>
        <!-- in future on show -->
        <div class="tab-pane container fade" id="future-mv">
            <div class="row py-4">
                {{#each movies}}
                    <div class="col-md-4 col-6 py-2">
                        <a href="info/{{this._id}}">
                            <figure class="figure">
                                <img src="{{imageSource}}" alt="" class="img-thumbnail">
                                <figcaption class="figure-caption">{{originalName}}</figcaption>                                
                            </figure>
                        </a>
                    </div>
                {{/each}}              
            </div>
        </div>
    </div>
</div>