<div class="movie-data-sample">
  {{#each movies}}
    <h4>Original Name: {{ originalName }}</h4>
    <h4>Vietnamese Name: {{ vietnameseName }}</h4>
    <p>Rating: {{ rating }}</p>
    <p>Rates: {{ rates }}</p>
    <p>Label: {{ label }}</p>
    <p>Time: {{ time }}</p>
    <p>Producer: {{ producer }}</p>
    <p>Category: {{ category }}</p>
    <h3>Cast:</h3>
    <ul>
      {{#each cast}}
        <li>{{ this }}</li>
      {{/each}}
    </ul>
    <p>Nation: {{ nation }}</p>
    <p>Director: {{ director }}</p>
    <p>Date: {{ date }}</p>
    <h3>Description:</h3>
    <ul>
      {{#each description}}
        <li>{{ this }}</li>
      {{/each}}
    </ul>
    <iframe width="420" height="315"
      src="https://www.youtube.com/embed/{{ trailerEmbedID }}">
    </iframe>
    <img src="{{ imageSource }}" alt="">
  {{/each}}
</div>