<section>
  <div id="book-ticket-container">
    {{#with showtime}}
    <div id="book-ticket-available-tickets">
      <p>Số lượng vé còn lại:&ensp;<span id="book-ticket-available-tickets-num">{{availableTicketsNum}}</span></p>
    </div>

    <div id="book-ticket-main">
      <div id="book-ticket-ticketfood-box" class="book-ticket-select-box">
        <div class="book-ticket-box-header">CHỌN VÉ / COMBO</div>

        <div class="book-ticket-box-section">
          <div id="book-ticket-ticket-box">
            <div class="book-ticket-head">
              <div class="book-ticket-row">
                <div class="book-ticket-type-cell book-ticket-cell">Loại vé</div>
                <div class="book-ticket-quantity-cell book-ticket-cell">Số lượng</div>
                <div class="book-ticket-unit-price-cell book-ticket-cell">Giá</div>
                <div class="book-ticket-total-price-cell book-ticket-cell">Tổng</div>
              </div>
            </div>

            <div class="book-ticket-list">
              {{#each tickets}}
              <div class="book-ticket-row">
                <div class="book-ticket-type-cell book-ticket-cell">
                  <div class="book-ticket-name">{{name}}</div>
                  <div class="book-ticket-description">{{description}}</div>
                </div>
                <div class="book-ticket-quantity-cell book-ticket-cell">
                  <button class="book-ticket-decrease-btn book-ticket-quantity-btn"></button>
                  <div class="book-ticket-quantity">0</div>
                  <button class="book-ticket-increase-btn book-ticket-quantity-btn"></button>
                </div>
                <div class="book-ticket-unit-price-cell book-ticket-cell">{{formatPrice unitPrice}}</div>
                <div class="book-ticket-total-price-cell book-ticket-cell">{{formatPrice totalPrice}}</div>
              </div>
              {{/each}}
              <div class="book-ticket-row book-ticket-total-row">
                <div class="book-ticket-type-cell book-ticket-cell">Tổng</div>
                <div class="book-ticket-quantity-cell book-ticket-cell"></div>
                <div class="book-ticket-unit-price-cell book-ticket-cell"></div>
                <div class="book-ticket-total-price-cell book-ticket-cell">0</div>
              </div>
            </div>
          </div>

          <div id="book-ticket-food-box">
            <div class="book-ticket-head">
              <div class="book-ticket-row">
                <div class="book-ticket-type-cell book-ticket-cell">Combo</div>
                <div class="book-ticket-quantity-cell book-ticket-cell">Số lượng</div>
                <div class="book-ticket-unit-price-cell book-ticket-cell">Giá</div>
                <div class="book-ticket-total-price-cell book-ticket-cell">Tổng</div>
              </div>
            </div>

            <div class="book-ticket-list">
              {{#each combos}}
              <div class="book-ticket-row">
                <div class="book-ticket-type-cell book-ticket-cell">
                  <div class="book-ticket-img">
                    <img src="{{image}}" alt="Combo">
                  </div>
                  <div class="book-ticket-type">
                    <div class="book-ticket-name">{{name}}</div>
                    <div class="book-ticket-description">{{description}}</div>
                  </div>
                </div>
                <div class="book-ticket-quantity-cell book-ticket-cell">
                  <button class="book-ticket-decrease-btn book-ticket-quantity-btn"></button>
                  <div class="book-ticket-quantity">0</div>
                  <button class="book-ticket-increase-btn book-ticket-quantity-btn"></button>
                </div>
                <div class="book-ticket-unit-price-cell book-ticket-cell">{{formatPrice unitPrice}}</div>
                <div class="book-ticket-total-price-cell book-ticket-cell">{{formatPrice totalPrice}}</div>
              </div>
              {{/each}}

              <div class="book-ticket-row book-ticket-total-row">
                <div class="book-ticket-type-cell book-ticket-cell">Tổng</div>
                <div class="book-ticket-quantity-cell book-ticket-cell"></div>
                <div class="book-ticket-unit-price-cell book-ticket-cell"></div>
                <div class="book-ticket-total-price-cell book-ticket-cell">0</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="book-ticket-seat-box" class="book-ticket-select-box">
        <div class="book-ticket-box-header">CHỌN GHẾ</div>
        <div class="book-ticket-box-section"></div>
      </div>

      <div id="book-ticket-checkout-box" class="book-ticket-select-box">
        <div class="book-ticket-box-header">VUI LÒNG THANH TOÁN</div>
        <div class="book-ticket-box-section"></div>
      </div>

      <div id="book-ticket-info-box">
        {{#with info}}
        <img class="book-ticket-movie-poster" src="{{image}}" alt="Movie Poster">
        <div class="book-ticket-movie-name ori-name">{{oriName}}</div>
        <div class="book-ticket-movie-name vie-name">{{vieName}}</div>
        {{#with label}}
        <div class="book-ticket-movie-label">
          <div class="book-ticket-movie-label-value">{{value}}</div>
          <span class="book-ticket-movie-label-description">{{description}}</span>
        </div>
        {{/with}}
        <div class="book-ticket-showtime-info"><b>Rạp:&ensp;</b>{{theaterName}}&ensp;|&ensp;{{roomName}}</div>
        <div class="book-ticket-showtime-info"><b>Suất chiếu:&ensp;</b>{{time}}&ensp;|&ensp;{{date}}</div>
        <div class="book-ticket-showtime-info"><b>Hình thức:&ensp;</b>{{type}}</div>
        {{/with}}
        <div class="book-ticket-showtime-info"><b>Vé:&ensp;</b></div>
        <div class="book-ticket-showtime-info"><b>Combo:&ensp;</b></div>
        <div class="book-ticket-showtime-info"><b>Ghế:&ensp;</b></div>
        <div class="book-ticket-total-price"><b>Tổng:&ensp;</b><span>0 VNĐ</span></div>
        <button class="book-ticket-continue-btn">TIẾP TỤC</button>
      </div>
      {{/with}}
    </div>
  </div>
</section>