<nav id="sidebar" class="active position-fixed h-100">
  <div class="sidebar-header">
    <button class="btn navbar-btn" id="sidebarCollapse"><img src="/images/favicon.ico" class="w-100"></button>
    <h3 id="username">FanCine Admin</h3>
  </div>

  <ul class="list-unstyled components">
    <li class="{{activeClass page 'home'}}">
      <a href="/admin">
        <i class="fa fa-home"></i>
        Trang chủ
      </a>
    </li>
    <li class="{{activeClass page 'user'}}">
      <a href="/admin/manageUser">
        <i class="fa fa-user"></i>
        Tài khoản
      </a>
    </li>
    <li class="{{activeClass page 'movie'}}">
      <a href="#movieSubmenu" data-toggle="collapse" aria-expanded="false">
        <i class="fa fa-film"></i>
        Phim
      </a>
      <ul class="collapse list-unstyled {{showCollapse show}}" id="movieSubmenu">
        <li class="{{activeClassItem menuItem 'postMovie'}}"><a href="/admin/postMovie">Đăng</a></li>
        <li class="{{activeClassItem menuItem 'manageMovie'}}"><a href="/admin/manageMovie">Quản lý</a></li>
      </ul>
    </li>
    <li>
      <a href="#theaterSubmenu" data-toggle="collapse" aria-expanded="false">
        <i class="fa fa-map-marker"></i>
        Rạp
      </a>
      <ul class="collapse list-unstyled" id="theaterSubmenu">
        <li><a href="#">Đăng</a></li>
        <li><a href="#">Quản lý</a></li>
      </ul>
    </li>
    <li>
      <a href="/admin/manageTicket">
        <i class="fa fa-ticket"></i>
        Vé
      </a>
    </li>
  </ul>
</nav>
<nav id="sidebar" class="active sidebar2" style="display: hidden;"></nav>