<h1 class="text-center">Trang chủ</h1>

{{> adminHeader }}

<div class="row">
  <div class="col-12 col-lg-6">
    <canvas id="sessionChart"></canvas>
    {{!-- <h3 class="text-center">Registered Accounts</h3> --}}
  </div>
  <div class="col-12 col-lg-6">
    <canvas id="revenueChart"></canvas>
    {{!-- <h3 class="text-center">Bought Tickets</h3> --}}
  </div>
</div>

<div class="row mt-4">
  <div class="col-12 col-md-6">
    <canvas id="movieRatingChart"></canvas>
    <h3 class="text-center">Đánh giá phim</h3>
  </div>
  <div class="col-12 col-md-6">
    <canvas id="movieLabelChart"></canvas>
    <h3 class="text-center">Nhãn phim</h3>
  </div>
</div>


<script>

// gp histogram ---------------------------------
let movieData = [];
{{#each movieHistogram}}
  movieData.push({{ this }});
{{/each}}
new Chart(
  document.querySelector('#movieRatingChart'), {
  type: 'pie',
  data: {
    labels: ["Rất dở", 'Dở', "Tạm ổn", "Thú vị", "Hay"],
    datasets: [{
      label: 'gp',
      backgroundColor: [
        "#e74c3c",
        "#9b59b6",
        "#f1c40f",
        "#3498db",
        "#2ecc71",
      ],
      data: movieData
    }]
  }
});

// Movie label histogram ---------------------------------
let movieLabelLabel = [];
let movieLabelData = [];
{{#each movieLabels}}
  movieLabelLabel.push('{{ @key }}');
  movieLabelData.push({{ this }});
{{/each}}
new Chart(
  document.querySelector('#movieLabelChart'), {
  type: 'doughnut',
  data: {
    labels: movieLabelLabel,
    datasets: [{
      label: 'Đánh giá phim',
      backgroundColor: [
        "#f1c40f",
        "#3498db",
        "#2ecc71",
        "#9b59b6",
      ],
      data: movieLabelData
    }]
  }
});

// Revenue histogram ---------------------------------

let revenueData = [];
{{#each revenueHistogram}}
  revenueData.push({{ this }});
{{/each}}

new Chart(
  document.querySelector('#revenueChart'),
  {
    type: 'line',
    data: {
      labels: [ 'Chủ nhật', 'Thứ 2', 'Thứ 3', 'Thứ 4', 'Thứ 5', 'Thứ 6', 'Thứ 7' ],
      datasets: [{
        label: 'Tổng doanh thu',
        data: revenueData,
        backgroundColor: [
          'rgba(255, 205, 86, 0.2)',
        ],
        borderColor: [
          'rgb(255, 205, 86)',
        ],
        pointBackgroundColor: 'rgb(255, 205, 86)',
        borderWidth: 1
      }]
    },
    options: {
      tooltips: {
          callbacks: {
              label: function(tooltipItem, data) {
                  return tooltipItem.yLabel.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
              }
          }
      }
    }
  }
);

// User & Session histogram ---------------------------------
let userData = [];
{{#each userHistogram}}
  userData.push({{ this }});
{{/each}}
let sessionData = [];
{{#each sessionHistogram}}
  sessionData.push({{ this }});
{{/each}}

new Chart(
  document.querySelector('#sessionChart'),
  {
  type: 'bar',
  data: {
    labels: [ 'Chủ nhật', 'Thứ 2', 'Thứ 3', 'Thứ 4', 'Thứ 5', 'Thứ 6', 'Thứ 7' ],
    datasets: [
      {
        label: 'Số vé bán',
        data: sessionData,
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(255, 99, 132, 0.2)',
          'rgba(255, 99, 132, 0.2)',
          'rgba(255, 99, 132, 0.2)',
          'rgba(255, 99, 132, 0.2)',
          'rgba(255, 99, 132, 0.2)',
          'rgba(255, 99, 132, 0.2)',
        ],
        borderColor: [
          'rgb(255, 99, 132)',
          'rgb(255, 99, 132)',
          'rgb(255, 99, 132)',
          'rgb(255, 99, 132)',
          'rgb(255, 99, 132)',
          'rgb(255, 99, 132)',
          'rgb(255, 99, 132)',
        ],
        borderWidth:1
      },
      {
        label: 'Số tài khoản đăng kí',
        data: userData,
          backgroundColor: [
            'rgba(54, 162, 235, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(54, 162, 235, 0.2)',
          ],
          borderColor: [
            'rgb(54, 162, 235)',
            'rgb(54, 162, 235)',
            'rgb(54, 162, 235)',
            'rgb(54, 162, 235)',
            'rgb(54, 162, 235)',
            'rgb(54, 162, 235)',
            'rgb(54, 162, 235)',
          ],
          borderWidth:1
      }
    ]
  },
  options: {
      scales: {
          yAxes: [{
              stacked: false
          }]
      }
  }
});
</script>