<div class="container mt-3">
    <!-- Content -->
    <div class="review-title-container">
        <div class="review-title-new"><a href="/search?q={{ searchQuery }}">Từ khóa: {{ searchQuery }}</a></div>
    </div>
    <div class="row">
        {{#each result}}
        <div class="col-12 col-lg-8" style="background-color:;">
            <div class="container-fuild">
                <article class="review-list">
                    <div class="review-item">
                        <a href="/review/reviewContentSample" class="review-item-img">
                            <img src="/images/reviewContentSample/kid.jpg" alt="">
                        </a>
                        <div>
                            <a href="/info/{{id}}">
                                <div class="review-item-title">
                                    <h4>{{ vietnameseName }}</h4>
                                </div>
                            </a>
                            <div class="review-item-content">{{ description }}</div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <div class="row mt-3">
                <div class="col"></div>
                <div class="col-12 col-lg-8">
                    <button type="button" class="btn btn-outline-secondary d-flex container d-flex justify-content-center">Xem Thêm</button>
                </div>
                <div class="col"></div>
            </div>
            <!-- Show more button -->
        <div class="col col-md-4 ">
            <div class="container">
                <img src="https://via.placeholder.com/768x1024" alt="" class="img-thumbnail">
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    let change = document.getElementById("select")

    function myname() {
        console.log(change.value)
    }
</script>
